<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/navbar.css">
<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Настройки пользователя</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Имя: <%= user.username%></li>
                <% if(user.type === 'admin') {%>
                    <li class="list-group-item">Профиль: <%= user.type%></li>
                <% } %>
                <li class="list-group-item">Электронная почта: <%= user.email%></li>
                <li class="list-group-item">
                    <% if(currentUser.type === 'admin') {%>
                        <a class="btn btn-warning" href="#">
                            Заблокировать
                        </a>
                    <% } %>
                    <form
                        <% if (pageInfo.language === constants.variables.LANGUAGE_RUS) { %>
                            action="/rus/users/<%=user._id%>?_method=DELETE"
                        <% } else if (pageInfo.language === constants.variables.LANGUAGE_ENG) { %>
                            action="/rus/users/<%=user._id%>?_method=DELETE"
                        <% } %>
                        method="POST"
                    >
                        <button class="btn btn-sm d-inline btn-danger">Delete</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    const user = <%- JSON.stringify(user) %>
</script>