<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/navbar.css">
<div class="row">
    <div class="col-6">

        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><%=constants.labelsRus.GENERAL_INFO%></h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><%=constants.labelsRus.USERNAME%>: <%= currentUser.username%></li>
                <% if(currentUser.type !== 'user') {%>
                    <li class="list-group-item"><%=constants.labelsRus.PROFILE%>: <%= currentUser.type%></li>
                <% } %>
                <li class="list-group-item"><%=constants.labelsRus.EMAIL%>: <%= currentUser.email%></li>
            </ul>
        </div>

    </div>
</div>