<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/navbar.css">
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">
                        <% if (pageInfo.language === constants.variables.LANGUAGE_RUS) { %>
                            <%=constants.labelsRus.SIGN_IN%>
                        <% } else if (pageInfo.language === constants.variables.LANGUAGE_ENG) { %>
                            <%=constants.labelsEng.SIGN_IN%>
                        <% } %>
                    </h5>
                    <form action="/register" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">
                                <% if (pageInfo.language === constants.variables.LANGUAGE_RUS) { %>
                                    <%=constants.labelsRus.USERNAME%>
                                <% } else if (pageInfo.language === constants.variables.LANGUAGE_ENG) { %>
                                    <%=constants.labelsEng.USERNAME%>
                                <% } %>
                            </label>
                            <input class="form-control" type="text" id="username" name="username" required autofocus>
                            <div class="valid-feedback">
                                <% if (pageInfo.language === constants.variables.LANGUAGE_RUS) { %>
                                    <%=constants.labelsRus.FILLED%>
                                <% } else if (pageInfo.language === constants.variables.LANGUAGE_ENG) { %>
                                    <%=constants.labelsEng.FILLED%>
                                <% } %>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">
                                <% if (pageInfo.language === constants.variables.LANGUAGE_RUS) { %>
                                    <%=constants.labelsRus.EMAIL%>
                                <% } else if (pageInfo.language === constants.variables.LANGUAGE_ENG) { %>
                                    <%=constants.labelsEng.EMAIL%>
                                <% } %>
                            </label>
                            <input class="form-control" type="email" id="email" name="email" required>
                            <div class="valid-feedback">
                                <% if (pageInfo.language === constants.variables.LANGUAGE_RUS) { %>
                                    <%=constants.labelsRus.FILLED%>
                                <% } else if (pageInfo.language === constants.variables.LANGUAGE_ENG) { %>
                                    <%=constants.labelsEng.FILLED%>
                                <% } %>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">
                                <% if (pageInfo.language === constants.variables.LANGUAGE_RUS) { %>
                                    <%=constants.labelsRus.PASSWORD%>
                                <% } else if (pageInfo.language === constants.variables.LANGUAGE_ENG) { %>
                                    <%=constants.labelsEng.PASSWORD%>
                                <% } %>
                            </label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                <% if (pageInfo.language === constants.variables.LANGUAGE_RUS) { %>
                                    <%=constants.labelsRus.FILLED%>
                                <% } else if (pageInfo.language === constants.variables.LANGUAGE_ENG) { %>
                                    <%=constants.labelsEng.FILLED%>
                                <% } %>
                            </div>
                        </div>
                        <button class="btn btn-success btn-block">
                            <% if (pageInfo.language === constants.variables.LANGUAGE_RUS) { %>
                                <%=constants.labelsRus.SIGN_IN_BUTTON%>
                            <% } else if (pageInfo.language === constants.variables.LANGUAGE_ENG) { %>
                                <%=constants.labelsEng.SIGN_IN%>
                            <% } %>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>