<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/navbar.css">
<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <div class="card-body">
                <nav class="mb-4">
                    <a class="btn btn-dark" href="/admin">
                        <% if (pageInfo.language === constants.variables.LANGUAGE_RUS) { %>
                            <%=constants.labelsRus.RETURN%>
                        <% } else if (pageInfo.language === constants.variables.LANGUAGE_ENG) { %>
                            <%=constants.labelsEng.RETURN%>
                        <% } %>
                    </a>
                </nav>
                <h5 class="card-title">
                    <% if (pageInfo.language === constants.variables.LANGUAGE_RUS) { %>
                        <%=constants.labelsRus.USERS%>
                    <% } else if (pageInfo.language === constants.variables.LANGUAGE_ENG) { %>
                        <%=constants.labelsEng.USERS%>
                    <% } %>
                </h5>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">
                            <% if (pageInfo.language === constants.variables.LANGUAGE_RUS) { %>
                                <%=constants.labelsRus.NAME%>
                            <% } else if (pageInfo.language === constants.variables.LANGUAGE_ENG) { %>
                                <%=constants.labelsEng.NAME%>
                            <% } %>
                        </th>
                        <th scope="col">
                            <% if (pageInfo.language === constants.variables.LANGUAGE_RUS) { %>
                                <%=constants.labelsRus.PROFILE%>
                            <% } else if (pageInfo.language === constants.variables.LANGUAGE_ENG) { %>
                                <%=constants.labelsEng.PROFILE%>
                            <% } %>
                        </th>
                        <th scope="col">
                            <% if (pageInfo.language === constants.variables.LANGUAGE_RUS) { %>
                                <%=constants.labelsRus.EMAIL%>
                            <% } else if (pageInfo.language === constants.variables.LANGUAGE_ENG) { %>
                                <%=constants.labelsEng.EMAIL%>
                            <% } %>
                        </th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for (let user of users){%>
                        <tr>
                            <td><%= user.username%></td>
                            <td><%= user.type%></td>
                            <td><%= user.email%></td>
                            <td>
                                <a class="btn btn-warning" href="/users/<%=user._id%>">
                                    <% if (pageInfo.language === constants.variables.LANGUAGE_RUS) { %>
                                        <%=constants.labelsRus.EDIT%>
                                    <% } else if (pageInfo.language === constants.variables.LANGUAGE_ENG) { %>
                                        <%=constants.labelsEng.EDIT%>
                                    <% } %>
                                </a>
                            </td>
                        </tr>
                    <% }%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    const users = { features: <%- JSON.stringify(users) %> }
</script>